/* oswald-regular - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../media/fonts/oswald-v40-latin-regular.woff2") format("woff2"), url("../media/fonts/oswald-v40-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-600 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../media/fonts/oswald-v40-latin-600.woff2") format("woff2"), url("../media/fonts/oswald-v40-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-700 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../media/fonts/oswald-v40-latin-700.woff2") format("woff2"), url("../media/fonts/oswald-v40-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../media/fonts/poppins-v15-latin-200.woff2") format("woff2"), url("../media/fonts/poppins-v15-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../media/fonts/poppins-v15-latin-300.woff2") format("woff2"), url("../media/fonts/poppins-v15-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../media/fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../media/fonts/poppins-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../media/fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../media/fonts/poppins-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../media/fonts/poppins-v15-latin-600.woff2") format("woff2"), url("../media/fonts/poppins-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../media/fonts/poppins-v15-latin-700.woff2") format("woff2"), url("../media/fonts/poppins-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../media/fonts/poppins-v15-latin-800.woff2") format("woff2"), url("../media/fonts/poppins-v15-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../media/fonts/poppins-v15-latin-900.woff2") format("woff2"), url("../media/fonts/poppins-v15-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1em);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  word-break: break-word;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

html::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  background-color: #333333;
  border: 2px solid transparent;
}

body {
  position: relative;
  font-size: 1.4rem;
  font-family: "Poppins";
}
@media (max-width: 400px) {
  body {
    font-size: 1.6rem;
  }
}
body h1 {
  font-size: clamp(2.5rem, 10vw + 1rem, 4rem);
}
body h2 {
  font-size: clamp(2rem, 8vw + 1rem, 3rem);
}
body h3 {
  font-size: clamp(1.6rem, 5vw + 1rem, 2rem);
}
body h4 {
  font-size: clamp(1.1rem, 3vw + 1rem, 1.4rem);
}
body h5 {
  font-size: 1.2rem;
}
body .bold {
  font-weight: 600;
}

* > ul {
  list-style: none;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
  font-style: italic;
}

a:focus::before,
a:hover::before {
  visibility: visible;
  background-color: #156064;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.bgUno > li {
  border-left: 2rem solid #e9c46a;
  border-bottom: 0.1rem solid #e9c46a;
}
.bgUno > li a:focus::before,
.bgUno > li a:hover::before {
  background-color: #e9c46a;
}

.bgDos > li {
  border-left: 2rem solid #2a9d8f;
  border-bottom: 0.1rem solid #2a9d8f;
}
.bgDos > li a:focus::before,
.bgDos > li a:hover::before {
  background-color: #2a9d8f;
}

.bgTres > li {
  border-left: 2rem solid #fb8f67;
  border-bottom: 0.1rem solid #fb8f67;
}
.bgTres > li a:focus::before,
.bgTres > li a:hover::before {
  background-color: #fb8f67;
}

.bgCuatro > li {
  border-left: 2rem solid #219ebc;
  border-bottom: 0.1rem solid #219ebc;
}
.bgCuatro > li a:focus::before,
.bgCuatro > li a:hover::before {
  background-color: #219ebc;
}

.bgCinco > li {
  border-left: 2rem solid #156064;
  border-bottom: 0.1rem solid #156064;
}
.bgCinco > li a:focus::before,
.bgCinco > li a:hover::before {
  background-color: #156064;
}

header {
  padding: 8rem 0 8rem 0;
  width: 90%;
  margin: 0 auto 5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  text-shadow: 0 0 0.1 #f2f2f2;
}
@media (max-width: 60rem) {
  header {
    flex-direction: column;
  }
}
header .photo-links {
  width: 30rem;
  height: 30rem;
  position: relative;
}
header .photo-links .photo {
  position: relative;
  display: block;
  width: 21rem;
  height: 21rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fbc900;
  border: 0.5rem solid #ffffff;
  background-image: url("../media/img/cv-001.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
}
header .photo-links .link-bg {
  position: absolute;
  width: 15rem;
  height: 15rem;
  display: block;
  z-index: 1;
  transform-origin: bottom center;
  left: 50%;
}
header .photo-links .link-bg a {
  color: #ffffff;
  font-style: normal;
  text-transform: uppercase;
  width: 90%;
  position: absolute;
  top: 2.3rem;
  left: 1rem;
  text-align: center;
  display: block;
}
header .photo-links .bg1 {
  transform: translateX(-50%) rotate(-30deg) scale(1);
  transition: 0.3s ease;
}
header .photo-links .bg1:hover {
  transform: translateX(-50%) rotate(-30deg) scale(1.1);
}
header .photo-links .bg1 .cls-1 {
  fill: #e9c46a;
}
header .photo-links .bg2 {
  transform: translateX(-50%) rotate(42deg) scale(1);
  transition: 0.3s ease;
}
header .photo-links .bg2:hover {
  transform: translateX(-50%) rotate(42deg) scale(1.1);
}
header .photo-links .bg2 .cls-1 {
  fill: #2a9d8f;
}
header .photo-links .bg3 {
  transform: translateX(-50%) rotate(114deg) scale(1);
  transition: 0.3s ease;
}
header .photo-links .bg3:hover {
  transform: translateX(-50%) rotate(114deg) scale(1.1);
}
header .photo-links .bg3 .cls-1 {
  fill: #fb8f67;
}
header .photo-links .bg4 {
  transform: translateX(-50%) rotate(186deg) scale(1);
  transition: 0.3s ease;
}
header .photo-links .bg4:hover {
  transform: translateX(-50%) rotate(186deg) scale(1.1);
}
header .photo-links .bg4 .cls-1 {
  fill: #219ebc;
}
header .photo-links .bg5 {
  transform: translateX(-50%) rotate(258deg) scale(1);
  transition: 0.3s ease;
}
header .photo-links .bg5:hover {
  transform: translateX(-50%) rotate(258deg) scale(1.1);
}
header .photo-links .bg5 .cls-1 {
  fill: #156064;
}
header .text h1 {
  position: relative;
  max-width: 30rem;
  margin: auto;
}
header .text h1 .fistName {
  position: relative;
  font-weight: 200;
  letter-spacing: 0.22rem;
  font-size: clamp(2.5rem, 10vw + 1rem, 4rem);
  color: #333333;
  z-index: 4;
  text-align: right;
}
header .text h1 span {
  position: absolute;
  width: 100%;
  height: 1.5rem;
  background-color: #219ebc;
  top: 4.3rem;
  z-index: 3;
}
header .text h1 .lastName {
  position: relative;
  margin: -1.8rem auto 0 0;
  font-weight: 200;
  letter-spacing: 0.89rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
header .text h1,
header .text p {
  display: block;
  z-index: 2;
}
header .text p {
  margin-top: -1rem;
  letter-spacing: 0.09rem;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
}

main {
  min-height: 100vh;
}
main .content {
  width: 76.8rem;
  max-width: 96%;
  margin: auto;
}
main .content section {
  margin: 0 0 2rem;
}
main .content section .lista > li {
  padding: 1rem;
  margin: 0 0 1rem;
  box-shadow: 0.4rem 0.4rem 0.3rem rgba(51, 51, 51, 0.1);
  white-space: normal;
}
main .content section .lista > li:hover {
  box-shadow: 0.2rem 0.2rem 0.1rem rgba(51, 51, 51, 0.15);
}
main .content section .trabajos > li {
  height: auto;
  max-height: 8rem;
  overflow: hidden;
  transition: 1s ease-in-out;
  cursor: pointer;
}
main .content section .trabajos > li.active {
  height: auto;
  max-height: 400rem;
  transition: 2s ease-in-out;
  cursor: inherit;
}
main .content section .trabajos > li .wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 400px) {
  main .content section .trabajos > li .wrapper {
    align-items: center;
  }
}
main .content section .trabajos > li .wrapper .fecha {
  display: flex;
  flex-direction: column-reverse;
}
main .content section .trabajos > li .wrapper .fecha .inicio,
main .content section .trabajos > li .wrapper .fecha .separadorVr,
main .content section .trabajos > li .wrapper .fecha .fin {
  position: relative;
  width: 6ch;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
main .content section .trabajos > li .wrapper .fecha .separadorVr {
  height: 0.05rem;
  width: 6ch;
  margin: 0.5rem auto;
  background-color: #333333;
}
main .content section .trabajos > li .wrapper .separadorHr {
  height: 8rem;
  max-height: 8rem;
  width: 0.05rem;
  background-color: #333333;
}
main .content section .trabajos > li .wrapper .datos {
  width: auto;
}
main .content section .trabajos > li .wrapper .datos .puesto,
main .content section .trabajos > li .wrapper .datos .empresa,
main .content section .trabajos > li .wrapper .datos .lugar {
  text-align: left;
}
main .content section .trabajos > li .wrapper .datos .puesto {
  text-transform: uppercase;
}
@media (max-width: 400px) {
  main .content section .trabajos > li .wrapper .datos .puesto {
    font-size: clamp(1.1rem, 3vw + 1rem, 1.4rem);
  }
}
main .content section .trabajos > li .wrapper .datos .empresa {
  font-style: italic;
}
@media (max-width: 400px) {
  main .content section .trabajos > li .wrapper .datos .empresa {
    font-size: clamp(1.1rem, 3vw + 1rem, 1.4rem);
  }
}
main .content section .trabajos > li .wrapper .datos .lugar {
  font-weight: 300;
}
main .content section .trabajos > li .wrapper .responsabilidades,
main .content section .trabajos > li .wrapper .logros {
  width: 99.9%;
  margin: auto;
}
main .content section .trabajos > li .wrapper .responsabilidades ul,
main .content section .trabajos > li .wrapper .logros ul {
  list-style: "~ ";
  margin: 0 0 2rem 1.5rem;
}
main .content section .trabajos > li .wrapper .responsabilidades ul li,
main .content section .trabajos > li .wrapper .logros ul li {
  padding-left: 0.9rem;
  font-size: 1.2rem;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: #ffffff;
}
footer .f-wrapper {
  width: 60rem;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer .last {
  width: 60rem;
  max-width: 90%;
  margin: auto;
  text-align: center;
}

@keyframes readMore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
nav {
  position: sticky;
  top: 2rem;
  right: 2rem;
  height: 4rem;
  max-height: fit-content;
  min-width: 4rem;
  z-index: 9999;
}
nav .navbar {
  width: 300px;
  color: #333333;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
}
nav .navbar.active {
  display: flex;
}
nav .navbar li {
  height: 4rem;
  width: 100%;
}
nav .navbar li a.hover,
nav .navbar li a:link,
nav .navbar li a:active,
nav .navbar li a:focus,
nav .navbar li a:visited {
  color: #333333;
  font-weight: 600;
}
nav .navbar li:nth-child(1) {
  border-left: 3rem solid #e9c46a;
}
nav .navbar li:nth-child(1) a:hover::before {
  background-color: #e9c46a;
}
nav .navbar li:nth-child(2) {
  border-left: 3rem solid #2a9d8f;
}
nav .navbar li:nth-child(2) a:hover::before {
  background-color: #2a9d8f;
}
nav .navbar li:nth-child(3) {
  border-left: 3rem solid #fb8f67;
}
nav .navbar li:nth-child(3) a:hover::before {
  background-color: #fb8f67;
}
nav .navbar li:nth-child(4) {
  border-left: 3rem solid #219ebc;
}
nav .navbar li:nth-child(4) a:hover::before {
  background-color: #219ebc;
}
nav .navbar li:nth-child(5) {
  border-left: 3rem solid #156064;
}
nav .navbar li:nth-child(5) a:hover::before {
  background-color: #156064;
}
nav .nav-link {
  height: 100%;
  display: block;
  padding-left: 2rem;
}
nav #hamburger {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: calc(100% - 5rem);
  width: 3.5rem;
  height: 2rem;
  cursor: pointer;
}
nav #hamburger span {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: relative;
  background-color: #333333;
}
nav #hamburger span:nth-child(2) {
  width: 75%;
  margin-left: 25%;
}
nav #hamburger span:nth-child(3) {
  width: 50%;
  margin-left: 50%;
}/*# sourceMappingURL=app.css.map */